body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
  background-image: url("./assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1280px;
  padding: 0 40px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  color: #ed1d23;
  margin: 40px 0;
}

h2 {
  color: #ed1d23;
  font-size: 20px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.icon {
  color: #ed1d23;
  font-size: 30px;
}

.pagination p {
  color: white;
  margin: 0px 20px;
}

.pagination button {
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: black;
  font-size: 1§px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ed1d23;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.no-result {
  font-size: 30px;
  font-style: italic;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.no-result img {
  height: 300px;
}

.no-result span {
  color: #ed1d23;
  text-transform: uppercase;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading p {
  color: white;
  padding: 40px;
  font-size: 40px;
}

.loading img {
  height: 100px;
}

@media (max-width: 1300px) {
  main {
    width: auto;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .card-list {
    gap: 20px;
  }

  .favorite h1 {
    text-align: center;
    color: white;
  }
}
