.card {
  display: flex;
  padding: 20px;
  border: 1px solid #ed1d23;
  border-radius: 4px;
  background-color: rgb(28, 36, 37);
  width: 500px;
  height: 280px;
}

.card-elements {
  display: flex;
  height: 100%;
  width: 100%;
}

.card-elements h2 {
  color: #ed1d23;
  margin-bottom: 30px;
  font-size: 20px;
}

.card-image img {
  height: 100%;
  margin-right: 20px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.card-description {
  color: white;
  text-align: justify;
  margin-bottom: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
}

.card-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-favorite p {
  color: #ed1d23;
}
