.character {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ed1d23;
  border-radius: 4px;
  background-color: rgb(28, 36, 37);
  width: 500px;
  height: 280px;
}

.character-card {
  display: flex;
}

.character-card h2 {
  color: #ed1d23;
  margin-bottom: 30px;
  font-size: 20px;
}

.character-card img {
  object-fit: cover;
  margin-right: 20px;
  width: 200px;
}

.character-description {
  color: wheat;
  text-align: justify;
  margin-bottom: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  height: 150px;
}

.character-infos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 260px;
}

.character-favorite {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.character-favorite p {
  color: #ed1d23;
}

.comic-search-bar {
  background-color: white;
}
