.comic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.comic-infos {
  display: flex;
  justify-content: space-between;
}

.comic-infos img {
  width: 200px;
}

.comic-name {
  color: white;
}

.comic-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.comic-details p {
  color: white;
}

.comic-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comic-favorite p {
  color: #ed1d23;
}

@media (max-width: 1000px) {
  .comic {
    width: auto;
  }
}

@media (max-width: 600px) {
  .comic-infos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .comic-favorite {
    margin-top: 10px;
  }
}
