footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 18px;
  color: #ed1d23;
}

.footer-link {
  display: inline-block;
  color: #ed1d23;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  font-size: 24px;
}
