header {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: black;
}

header button {
  background-color: #ed1d23;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

header button:hover {
  transform: scale(1.2);
}

.header-logo {
  height: 100px;
  width: 250px;
  object-fit: contain;
  background-color: black;
}

header nav {
  display: flex;
  gap: 40px;
  color: #ed1d23;
  font-size: 20px;
}

.header-icon {
  color: #ed1d23;
  font-size: 26px;
}

.header-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-link {
  text-decoration: none;
  color: #ed1d23;
}

.header-connect p {
  color: #ed1d23;
}

.header-favorite {
  display: flex;
  align-items: center;
}

.header-favorite p {
  margin-right: 20px;
}

@media (max-width: 800px) {
  .header-logo {
    height: 80px;
  }

  .header-connect {
    gap: 10px;
  }

  .header-icon {
    font-size: 18px;
  }

  header nav {
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .header-favorite p {
    font-size: 16px;
  }

  .header-logo {
    height: 60px;
    width: 140px;
  }

  header {
    padding: 10px 15px;
    height: 80px;
  }

  header nav {
    gap: 10px;
    font-size: 14px;
  }
}
