.search-bar {
  background-color: wheat;
  padding: 5px 10px;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-icon {
  color: rgb(232, 136, 136);
  margin-right: 10px;
}

.search-bar input {
  background: none;
  border: none;
  width: 90%;
}
