.search-bar {
  background-color: white;
  padding: 10px 15px;
  width: 250px;
  display: flex;
  border-radius: 8px;
  margin-bottom: 40px;
}

.search-icon {
  color: rgb(232, 136, 136);
  margin-right: 10px;
}

.search-bar input {
  background: none;
  border: none;
  width: 90%;
}

.search-bar input:focus {
  outline: none;
}
